@import './mixins.module.scss';

section#film {
    background-color: #fed103;
}

.film-grid {
    width: 100%;
    height: 100%;
    position: relative;
}

.film-title-grid {
    width: 100%;
    height: 100vh;
    // max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    @include respond(md) {
        grid-template-columns: repeat(8, 1fr);
    } 

    .grid-character-wrap {
        grid-row-start: 2;
        overflow: hidden;
        
        &.line-2 {
            grid-row-start: 3;
        }

        .grid-character {
            font-size: 13em;
            line-height: 1;
            position: relative;
        }
    }
}

.paralax-container {
    padding: 100vh 0 15vh;

    .paralax-stage {
        display: flex;
        flex-direction: column;
        // gap: 15vw;

        .para-row {
            padding: 0 10%;
            display: flex;
            justify-content: space-between;

            &.fl-end {
                justify-content: flex-end;
            }

            &.center {
                justify-content: center;
            }

            &.no-r-pad {
                padding-right: 0;
            }

            &.pbr-row {
                max-height: 50vh;
            }
        }
    }

    .para-card {
        width: 50%;

        &.sm {
            width: 25%;
        }

        &.md {
            width: calc(100% / 3);
        }

        &.lg {
            width: 65%;
        }

        &.bottom {
            align-self: flex-end;
        }
        
        &.right {
            text-align: right;
        }

        &.left {
            text-align: left;
        }

        &.afp-crew {
            transform: rotate(5deg);
        }

        &.pbr-card {
            align-self: center;
        }

        img {
            width: 100%;

            &.eyeball-icon {
                width: 65%;
            }

            &.polaroid {

            }
        }
    }

    .about-text {
        // padding-top: 10vw;

        p {
            font-size: 4rem;
            color: #f82645;
        }
    }
}