#nsc {
    background-color: #f2f2f2;
}

.nsc-stage {
    width: 100%;
    height: 100%;
    position: relative;
}

.poster-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    img {
        max-width: 275px;
        position: absolute;
    }

    .nsc-poster {
        &1 {
            bottom: 16%;
            z-index: 1;
            right: 16%;
        }

        &2 {
            top: 10%;
            right: 10%;
            max-width: 550px;
        }

        &3 {
            bottom: 14%;
            left: 10%;
            max-width: 325px;
        }

        &5 {
            top: 10%;
            left: 22%;
        }
    }
}

.slide-sections {
    width: 100%;
    height: 100%;

    .slide {
        height: 33.33333vh;
        height: calc(100vh / 3);
        width: 100%;
        background-color: #ffd9b7;
        // transform: translateX(-100%);
    }
}

.nsc-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

.nsc-title {
    text-align: center;
    margin: 0;
    font-size: 5.5rem;
    color: #5e7017;
}

.outer-title-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}