

section#intro {
    background-color: #f2f2f2;
}
.intro-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0;

    padding: 2rem;
    box-sizing: border-box;
}